body {
  padding : 10px ;
  
}

#formTabs .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


/* remove border radius for the tab */

#formTabs .nav-pills > li > a {
  border-radius: 0;
}







